body{
    background-color: white;
}

img{
    width: 240px;
    height: 140px;
}
a{
    width: 250px;
    height: 14px;
}

#site-header{
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    position: revert;
    width: 1650px;
    height: 250px;
}

#site-tools{
    width: 1349px;
    height: 40px;
    background-color: #4658d6;
    padding-left: 100px;
}
#site-tools h1 {
    color: #fff;
    padding: 5px 20px 5px 0;
    display: block;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 20px;
    width: 454px;
    height: 14px;
    border: 0px, 0px,0px 0;
}

#site-header-wrapper {
    width: 1055px;
    height: 150px;
    padding: 0px;
    border: 0px;
    margin: 10px auto;
}

#header {
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
-moz-box-sizing: border-box;
vertical-align: baseline;
}

#site-branding {
    float: left;
    padding: 10px;
}

#site{
    width: 474px;
    height: 24px;
}

#site-search{
    float: left;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-top: 50px;

}
#s {
    width: 430px;
    height: 30px;
}
#searchsubmit {
    width: 100px;
    height: 30px;
}

#site-areas {
    float: left;
    padding: 10px;
    margin: 15px 0 0 0;
    width: 1570px;
    height: 30px;
    padding-left: 0px;
    background-color: #4658d6;    
}
ul{
    list-style-type: square;
    list-style-position: inside;
    width: 1570px;
    height: 30px;
    background-color: #4658d6;
}

#site-areas ul li {
    float: left;
    list-style: none;
    padding: 0 95px;
    height: 24px;
    
}

#site-areas ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    letter-spacing: -1px;
    color: #fff;
    padding-bottom: 20px;
}
#site-espaco{
    float: left;
    width: 1570px;
    height: 10px;
}

#site-features {
    width: 800px;
    height: 840px;
    float: left;
    background-color: blue;
}

#site-texto_principal{
    max-width: 100%;
}
