body{
    background-color: white;
}
 
img{
    height: 140px;
}

#col-12-img-banner{
    margin-bottom: 30px;
}

#banner{
    width: 750px;
    height: 450px;
}

a{
    width: 250px;
    height: 14px;
}

#site-header{
    background-color: rgb(255, 255, 255);
    z-index: 100;
    position: revert;
    width: 100%;
    height: 250px;
}

#site-tools{
    width: 100%;
    height: 40px;
    padding-left: 7%;
    background-color: #4658d6;
}

#site-tools h1 {
    color: #fff;
    padding: 5px 20px 5px 0;
    display: block;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 20px;
    width: 454px;
    height: 14px;
    border: 0px, 0px,0px 0;
}

#site-header-wrapper {
    height: 150px;
    padding: 0px;
    border: 0px;
    margin: 10px auto;
}

#header {
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
-moz-box-sizing: border-box;
vertical-align: baseline;
}

#site-branding {
    float: left;
    padding: 10px;
}

#site{
    width: 474px;
    height: 24px;

}

#site-search{
    float: left;
    padding: 10px;
    padding-left: 20%;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
}

#s {
    width: 430px;
    height: 30px;
}



#searchsubmit {
    width: 100px;
    height: 30px;
    height: 36px;
    padding-bottom: 8px;
}

 

#site-areas {
    float: left;
    width: 100%;
    padding-left: 0px;
    background-color: #4658d6;  
}


ul{
    list-style-type: square;
    list-style-position: inside;
    height: 30px;
    background-color: rgb(70, 88, 214);
    text-align: center;
}

#site-areas ul li {
    float: left;
    list-style: none;
    padding: 0 95px;
    height: 24px;
    width: 32%;
    padding-top: 10px;
}

#site-areas ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    letter-spacing: -1px;
    color: #fff;
    padding-bottom: 20px;
 

}

#site-espaco{
    float: left;
    height: 10px;
}

 

#site-features {
    width: 800px;
    height: 840px;
    float: left;
    background-color: blue;
}

 

#site-texto_principal{
    max-width: 75%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1d2124;
    text-align: left;
}

#container {
    float: left;
    list-style: none;
    padding: 3%;
    width: 100%;
}

#banner img {
    margin: 20px;
    width: 700px;
    height: 350px;
    
}

#col-12-banner  {
    margin: 24px 0;
    max-width: 100%;
    line-height: 2;
    padding: 10px;
    width: 110%;
    height: 80%;
}


#site-texto_principal  {
   margin-left: 12.5%;
   margin-right: 12.5%;
   padding: 10px;
}


#site-texto_principal p {
    font-size: 1.4em;
 }


.card_area img {
  width: 75%;
}

.card_area  {
    margin-left: 50px;
    padding: 10px;
}

#infos  {
    margin-top: 20px;
}

#infos h1 {
    font-size: 1.2em ;
}


#infos  {
    margin: 45px;
    max-width: 100%;
    line-height: 2;
    padding: 10px;
}

#grid-cor1 {
    width: 200px;
    height: 150px;
    padding-right: 50px;
    margin-right: auto;
   
}

#grid-cor2 {
    width: 200px;
    height: 150px;
    padding-right: 50px;
    margin-left: auto;
}

#col-12-banner  h5 {
    font-size: 1.75rem;
}

#container footer{
    width: 100%;
    height: 30px;
    background-color: #4658d6;
}

.fim{
    width: 100%;
    height: 40px;
    padding-left: 7%;
    background-color: #4658d6;
    margin-top: 30px;
}

.center{
    text-align: center;
    top: 55px;
    left: 55px;
    margin-left: 14%;
    padding-bottom: 25px;
}
